#nav-editor, #nav-projects {
    color: #222;
    font-size: 1rem;
}

#nav-editor:hover, #nav-projects:hover {
    text-decoration: underline;
}

#nav-bar {
    display: flex;
    gap: 25px;
    align-items: center;
    background-color: #c9ced4;
    padding: 20px 30px;
    border-radius: 0 0 20px 20px;
}

#editor-layout {
    display: flex;
    gap: 15px;
    padding: 15px;
    height: 75vh;
}

#menu {
    flex: 1;
    background-color: #43689a;
    border-radius: 6px;
    padding: 15px;
}

#block-panel {
    flex: 2;
    background-color: #87bfe0;
    border-radius: 6px;
    padding: 15px;
}

#code-panel {
    flex: 2;
    background-color: #87bfe0;
    border-radius: 6px;
    padding: 15px;
}

#block-list div, #block-workspace div {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

#block-label {
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
}

#block-list input, #block-workspace input {
    padding: 4px 6px;
    font-size: 13px;
    width: 90px;
    border: 1px solid #000000;
    border-radius: 40px;
}

#make_var { background-color: #3c00ff; }
#set_var { background-color: #ff00b7; }
